:root {
  --header-height: 60px;
  --main-background-color: #585858;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: var(--main-background-color);
  color: #fff;
  font-family: Arial,Bicubik;
  margin: 0;
  padding: 0;
}

.up-panel {
  max-width: 1920px;
  height: var(--header-height);
  background-color: #2a2a2a;
}

.up-panel {
  display: grid;
  grid-template-areas:
    "name-company-text ";
}

.content {
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.name-company-text {
  margin: 10px 10px;
  height: 45px;
  width: 225px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
}

.name-company1 {
  font-weight: 600;
}

.market {
  padding: 24px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.basket {
  width: 200px;
  height: 50px;
  border: 1px solid;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: center;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
  user-select: none;
}

.basket-green {
  color: #b9e769;
}

.basket-green:hover {
  background-color: #b9e769;
  color: #fff;
  border: 1px solid #b9e769;
  box-shadow:0 0 50px #b9e769;
}



@media (max-width: 1228px) {
  .market {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 790px) {
  .market {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .product {
    width: 230px;
  }
}
